.c-tabs {
  display: flex;
  flex-wrap: wrap;
  background: color('white');

  &__close {
    @extend .c-btn--ui;
    z-index: $z-local-mid;
  }

  &__tab {
    align-items: center;
    border: solid 2px color('theme-base');
    display: flex;
    flex: 1 0 auto;
    padding: $space-s;
    text-align: center;
    justify-content: space-between;

    &:first-child {
      border-top-left-radius: $space-s;
    }

    &.active {
      border-color: color('theme-accent');
      background: color('theme-accent');
      color: color('white');
      z-index: $z-local-top;

      a:focus {
        outline-color: color('theme-primary');
      }

      .c-tabs__close {
        color: color('white');
      }
    }

    &:hover,
    &:focus {
      border-color: color('theme-accent', 'hover');

      a {
        text-decoration: underline;
      }
    }
  }
}

.c-tab {
    box-shadow: 0px 0px 10px 0px rgba($shadow, 0.4);
    padding: $space-m;
}
