.c-input {

  &__input {

    &--inline {
      display: inline-block;
    }

    &--subtle {
      border: none;
      border-bottom: 1px solid color('theme-base', 'dark');
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      padding: 0;
      width: 100%;

      &:focus {
        border-bottom-color: color('theme-primary');
      }
    }
  }
}

.c-input--radio-color {

  label {
    display: block;
  }

  input[type="radio"]:checked {
    + label {
      background: color('theme-base', 'dark');
      color: color('white');
    }
  }
}
