.c-btn--ui {
  border: 0;
  background: none;
  color: color('theme-base');

  &:hover,
  &:focus {
    color: color('theme-accent');
    text-decoration: underline;
  }
}

.c-btn--close {
  position: absolute;
  top: $space-s;
  right: $space-s;
  z-index: $z-local-top;
}
