.c-input {
  border: none;
  border-bottom: 1px solid color('gray', 'light');
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  width: 100%;

  &:focus {
    border-bottom-color: color('gray', 'dark');
  }

  &--inline {
    display: inline-block;
  }
}

.c-input--radio-color {

  label {
    display: block;
  }

  input[type="radio"]:checked {
    + label {
      background: color('theme-base', 'dark');
      color: color('white');
    }
  }
}
